<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheet/about.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

<section class="secab">
    <div class = "image">
       <img src="/stylesheet/passport.jpg">
    </div>

    <div class = "content">
        <h2>About Us</h2>
        <span></span>
        <p>Hi' My name is <b>Rishabh Kumar</b>, my primary project entails crafting a Crool Gaming
            Website employing HTML, CSS, Bootstrap,
            JavaScript, Node.js, Express, and MongoDB. This
            encompasses meticulous error validation, robust
            password authentication, and the fortification of the
            website's security. Additionally, it embraces a
            diverse range of gaming features, ensuring an
            immersive and secure user experience.</p>

    </div>
</section>
